
$white: #FFFFFF;
$teal: #3E8E94;
$lightgreen: #A2B484;
$rust: #D1613F;
$mediumgreen: #668E59;

.about-container {
    font-family: 'Lato', serif;
}
.about-container h3{
    text-align: center;
}
.about-container p {
    font-family: 'Lato', serif;
    margin: 10px;
}