$white: #FFFFFF;
$teal: #3E8E94;
$lightgreen: #A2B484;
$rust: #D1613F;
$mediumgreen: #668E59;

.privacy-policy {
    padding: 10px;
}
.privacy-policy p{
    font-family: 'Lato', serif;
    margin: 10px;
    color: $lightgreen;
}